{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<div>
    <h3>We Take Care Of Your Healthy Life</h3>

    <p>Maintaining good health will ultimately lead to a happy mind which is more valuable than any precious gift in today’s life. 
        Having a healthy life must be a part of everyone’s lifestyle.
                If one has a healthy and happy mind, then one will always stay motivated towards one’s work and will be productive at work.</p>
</div>

<div>
    <h3>Doctors at work</h3>
    <p>
1. Dr. Siddhartha Mukherjee – Biologist.<br>
2. Dr. Naresh Trehan – cardiothoracic surgeon.<br>
3. Dr. Sudhansu Bhattacharyya – Cardiac surgeon.<br>
4. Dr.  Surbhi Anand – Endodontist.<br>
5. Dr. Ashish Sabharwal- Urologist.</p>


A hospital bed specially designed for
hospitalized patients or others in need of some form of health care. These beds have special features both for the 
comfort and well-being of the patient and for the convenience of health care workers.


Available hospital are   1. Apollo health city
             2. Kims- Krishna Institute Of Medical Sciences
                3. Sunshine hospitals
                4. Continental hospitals
                5. Medicover Hospitals
                

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero ipsam laborum porro voluptates voluptatibus a nihil temporibus deserunt vel?</p>
{% endblock content %}