{% extends 'pages/base.html' %}
{% block content %}
<!-- services section starts -->
<section class="services">
    <h1 class="heading"> our <span>services</span> </h1>
    <div class="box-container">
        <div class="box">
            <i class='fas fa-notes-medical'></i>
            <h3>free checkups</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
            <a href="#" class="btn"> learn more </a>
        </div>
        <div class="box">
            <i class='fas fa-ambulance'></i>
            <h3>24/7 ambulance</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
            <a href="#" class="btn"> learn more</a>
        </div>
        <div class="box">
            <i class='fas fa-user-md'></i>
            <h3>expert doctors</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
            <a href="#" class="btn"> learn more </a>
        </div>
        <div class="box">
            <i class='fas fa-capsules'></i>
            <h3>medicines</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
            <a href="#" class="btn"> learn more </a>
        </div>
        <div class="box">
            <i class='fas fa-bed'></i> 
            <h3>bed facility</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
            <a href="#" class="btn"> learn more </a>
        </div>
        <div class="box">
            <i class='fas fa-bell'></i> 
            <h3>Emergency Room</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
            <a href="#" class="btn"> learn more  </a>
        </div> 
        <div class="box">
            <i class='fas fa-flask'></i>
            <h3>Laboratory</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
            <a href="#" class="btn"> learn more </a>
        </div>
        <div class="box">
            <i class='fas fa-syringe'></i>
            <h3 >Vaccination</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
            <a href="#" class="btn"> learn more </a>
        </div>
    </div>
</section>

<!-- services section ends -->
<div >       
        <!-- Trigger/Open The Modal -->
        <button class="myBtn_multi">Cardilogist <i class="fas fa-heartbeat"></i></button>

          <!-- Trigger/Open The Modal -->
          <button class="myBtn_multi" >Gastroenterology</button>

           <!-- Trigger/Open The Modal -->
           <button class="myBtn_multi" >Nephrology</button>

           <!-- Trigger/Open The Modal -->
         <button class="myBtn_multi" >Psychiatry</button>

           <!-- Trigger/Open The Modal -->
        <button class="myBtn_multi" >Pulmonology<i class="fas fa-lungs-virus"></i></button>

          <!-- Trigger/Open The Modal -->
          <button class="myBtn_multi" >Orthopedic<i class="fas fa-bone"></i></button>

        <!-- The Modal -->
        <div class="modal modal_multi">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close close_multi">x</span>
            <p><b>Cardiology:</b>
                        <em>Cardiology is the study of the heart. Cardiology is a branch of medicine that deals with disorders of the heart and the cardiovascular system.
                        </em></p>
                    <table>
                    <tr>
                    <th>Doctors are Avaliable  for cardiology : 5 </th> <th> Active:3 (Mon-friday)</th> <th>InActive:2 (Sat-Sunday)</th></tr>
                    <tr><th> Doctors Name</th> <th> Doctors Experiences</th> <th> Doctors Timing</th></tr>
                    <tr><td> Dr.sunil's </td> <td>4</td><td>8:00-11:30 AM</td></tr>
                    <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
                    <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
                    <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
                    <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
                    </table>
                    <p>Dear Sir/Madam if you want to consult a doctor,click the button below and contact us for more. <br>Thank You for choosing. </p>
                    <button>Appointment</button>
        </div></div>


                      <!-- The Modal -->
         <div  class="modal modal_multi">
                      <!-- Modal content -->
        <div class="modal-content">
                     <span class="close close_multi">x</span>
                    <p><b>Gastroenterology:</b>
                   <em>The branch of medicine that deals with the diagnosis and treatment of disorders of the gastrointestinal tract and related organs.
                   </em> </p>
                   <table>
                    <tr>
                    <th>Doctors are Avaliable  for gastroenterology : 5  </th>
                    <th> Active:3 (Mon-friday)</th>
                    <th>Inactive:2 (Sat-Sunday)</th></tr>
                   <tr><th> Doctors Name</th>
                   <th> Doctors Experiences</th>
                   <th> Doctors Timing</th>
                   </tr>
                   <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
                   <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
                   <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
                   <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
                   <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
                    </table>
                    <p>Dear Sir/Madam if you would like to consult a doctor,click the button below and contact us for more information.<br>Thank You for choosing. </p>
                    <button>Appointment</button>      
         </div> </div>

                   
   <!-- The Modal-->
   <div  class="modal modal_multi">
    <!-- Modal content -->
        <div class="modal-content">
          <span class="close close_multi">x</span>
         <p><b>Nephrology:</b>
        <em>The branch of medicine that deals with the physiology and diseases of the kidneys.
       </em> </p>
       <table>
         <tr>
         <th>Doctors are Avaliable  for nephrology : 5  </th>
         <th> Active:3 (Mon-friday)</th>
         <th>Inactive:2 (Sat-Sunday)</th></tr>
     <tr><th> Doctors Name</th>
     <th> Doctors Experiences</th>
     <th> Doctors Timing</th>
     </tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
         </table>
         <p>Dear Madam /Sir  want to consult a doctor,Please click below appointment and more information contact us. <br>Thank You for choosing. </p>
         <button>Appointment</button></div></div>
        

          <!-- The Modal-->
        <div class="modal modal_multi" >
          <!-- Modal content -->
         <div class="modal-content">
          <span class="close close_multi">x</span>
         <p><b>Psychiatry:</b>
        <em>Psychiatry is the branch of medicine focused on the diagnosis, treatment and prevention of mental, emotional and behavioral disorders.<br>
          A psychiatrist is a medical doctor (an M.D. or D.O.) who specializes in mental health, including substance use disorders. <br>
          Psychiatrists are qualified to assess both the mental and physical aspects of psychological problems.
       </em> </p>
       <table>
         <tr>
         <th>Doctors are Avaliable  for cardiology : 5  </th>
         <th> Active:3 (Mon-friday)</th>
         <th>Inactive:2 (Sat-Sunday)</th></tr>
     <tr><th> Doctors Name</th>
     <th> Doctors Experiences</th>
     <th> Doctors Timing</th>
     </tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
         </table>
         <p>Dear Madam /Sir  want to consult a doctor,Please click below appointment and more information contact us. <br>Thank You for choosing. </p>
         <button>Appointment</button>
         </div>
        </div>

        
          <!-- The Modal--> 
        <div class="modal modal_multi">
          <!-- Modal content -->
         <div class="modal-content">
          <span class="close close_multi">x</span>
         <p><b>Pulmonology:</b>
        <em> (PUL-muh-NAH-loh-jist) A doctor who has special training in diagnosing and treating diseases of the lungs. Also called pulmonary specialist.
       </em> </p>
       <table>
         <tr>
         <th>Doctors are Avaliable  for cardiology : 5  </th>
         <th> Active:3 (Mon-friday)</th>
         <th>Inactive:2 (Sat-Sunday)</th></tr>
     <tr><th> Doctors Name</th>
     <th> Doctors Experiences</th>
     <th> Doctors Timing</th>
     </tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
         </table>
         <p>Dear Madam /Sir  want to consult a doctor,Please click below appointment and more information contact us. <br>Thank You for choosing. </p>
         <button>Appointment</button>
        </div>
        </div>

         <!-- The Modal-->
         <div  class="modal modal_multi">
          <!-- Modal content -->
        <div class="modal-content">
          <span class="close close_multi">x</span>
         <p><b>Orthopedic:</b>
        <em>A doctor who specializes in treating ailments that concerns your bones, joints, ligaments, nerves and tendons.</em> </p>
       <table>
         <tr>
         <th>Doctors are Avaliable  for cardiology : 5  </th>
         <th> Active:3 (Mon-friday)</th>
         <th>Inactive:2 (Sat-Sunday)</th></tr>
     <tr><th> Doctors Name</th>
     <th> Doctors Experiences</th>
     <th> Doctors Timing</th>
     </tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
     <tr><td> Dr.sunil's </td><td>4</td><td>8:00-11:30 AM</td></tr>
    </table>
         <p>Dear Madam /Sir  want to consult a doctor,Please click below appointment and more information contact us. <br>Thank You for choosing. </p>
         <button>Appointment</button>
        </div>
        </div>
</div>
{% endblock content %}
