{% extends 'users/base2.html' %}
{% block content %}
    <h3 class="title">Feedback</h3>
    <p>Let us know what you think about our hospital as well as the doctor you consulted.</p>
  </section>
    {% for post in feedback %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.visitor}}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}