{% extends 'users/base2.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
   <form method="post">
       {% csrf_token %}
       <fieldset class="form-group">
           {{ form|crispy}}
       </fieldset>
       <div class="form-group">
           <button class="btn" type="submit">Log in</button>
       </div>
   </form>
   <div>
       <small>
           Now  create signup? <a href="{% url 'register' %}">Sign Up Now</a>
       </small>
   </div>
</div>
   {% endblock content %}